::selection {
  background-color: #A5D6A7;
}
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.rest-container {
  margin-top: 1rem;
}
body {
  padding: 0;
  margin: 0;
  font-family: roc-grotesk, sans-serif;;
  background-color: #FFF7E5;
}
h1 {
  font-family: roc-grotesk, sans-serif;;
  font-size: 5em;
}
h2 {
  font-family: roc-grotesk, sans-serif;;
  display: inline-block;
}
#plant-description {
  text-decoration: none;
  font-size: 14px;
}

#taxonomy {
  margin-top: 40px;
  margin-bottom: -80px;
}
p {
  font-family: roc-grotesk, sans-serif;;
  font-size: 12px;
}

#dendrogram-container {
}
#content-container {
position: relative;
}
#soil-ph-container {
  float: right;
}
#plant-picture {
}
#left-page-container {
  margin-left: 1vw;
  border: 0px solid green;
  display: table;
  width: 48.25vw;
  float: left;
  height: 99vh;
}
#right-page-container {
  margin-left: 1vw;
  border: 0px solid green;
  display: table;
  width: 48vw;
  float: left;
}
#pic-container p {
  display: inline;
}
#soil-ph-title {
  padding-right: 8px;
}
#soil-ph {
  float: right;
}
input {
  padding-left: 4px;
  width: 450px;
  height: 64px;
  display: table;
  border: 2px solid #DDD;
  color: #CCC;
  outline: 0px solid red;
  font-family: roc-grotesk, sans-serif;;
}
#search-item {
  padding-left: 4px;
  padding-top: 20px;
  padding-right: 3px;
  background-color: #ffe4b3;
  width: 450px;
  height: 64px;
  border: 1px solid #f8cc87;
  text-decoration: underline;
  font-size: 12px;
}
.search-item {
  padding-left: 4px;
  padding-top: 20px;
  padding-right: 3px;
  background-color: #ffe4b3;
  width: 450px;
  color: #d39245;
  height: 64px;
  border: 1px solid #f8cc87;
  text-decoration: none;
  font-size: 16px;
}
.search-item:hover {
  cursor: pointer;
  background-color: #f8cc87;
}
